/* HeroSection.css */

/* Left Side Animation */
.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Right Side Animation */
.fade-in-right {
  opacity: 0;
  animation: fadeInRight 1s ease forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
